type hal_keymint_strongbox, domain;
hal_server_domain(hal_keymint_strongbox, hal_keymint)
hal_server_domain(hal_keymint_strongbox, hal_secure_element)

type hal_keymint_strongbox_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_keymint_strongbox)

vndbinder_use(hal_keymint_strongbox)
get_prop(hal_keymint_strongbox, vendor_security_patch_level_prop);
set_prop(hal_keymint_strongbox, vendor_se_update_prop);

# Allow access to sockets
allow hal_keymint_strongbox vendor_data_file:file { open read getattr };
#============= hal_keymint_strongbox ==============
allow hal_keymint_strongbox hal_secure_element_hwservice:hwservice_manager find;
allow hal_keymint_strongbox hal_secure_element_default:binder { call transfer };

allow hal_keymint_strongbox boot_status_prop:file { getattr map open read };
allow hal_keymint_strongbox secure_element_service:service_manager find;
allow hal_keymint_strongbox self:capability2 wake_alarm;

wakelock_use(hal_keymint_strongbox)

# Allow rw access to /data/vendor/se_update_agent for SEUpdateAgent
allow hal_keymint_strongbox vendor_se_update_agent_data_file:dir rw_dir_perms;
allow hal_keymint_strongbox vendor_se_update_agent_data_file:file create_file_perms;

# Allow read access to /vendor/etc/loaderservice for SEUpdateAgent
allow hal_keymint_strongbox vendor_se_update_agent_sems_script_file:dir r_dir_perms;
allow hal_keymint_strongbox vendor_se_update_agent_sems_script_file:file r_file_perms;
