vendor_internal_prop(vendor_nfc_nxp_activestate_entrycount_prop)
vendor_internal_prop(vendor_nfc_nxp_standbystate_entrycount_prop)
vendor_internal_prop(vendor_nfc_nxp_ulpdetstate_entrycount_prop)
vendor_internal_prop(vendor_nfc_nxp_activestate_tick_prop)
vendor_internal_prop(vendor_nfc_nxp_standbystate_tick_prop)
vendor_internal_prop(vendor_nfc_nxp_ulpdetstate_tick_prop)
