# StrongBox Hal as a client of SeHal service
hal_client_domain(hal_keymaster_default, hal_secure_element);
allow hal_keymaster_default hal_secure_element_default:binder call;
allow hal_keymaster_default self:capability2 wake_alarm;

 set_prop(hal_keymaster_default,vendor_strongbox_prop)
